{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="application-assistance-page">
        <div class="page-img">
            <img src="{% static 'bricksapp/people-coffee-meeting-team-7096-3.jpg' %}" width="100%" alt="">
        </div>
        <div class="application-assistance-header">
            <h2>
                Application Assistance
            </h2>
            <p>
                Some of the major services we render to foreign students who wish to apply with us are listed below:
            </p>
        </div>
        <div class="application-assistance-body">
            <ul>
                <li><span>Prompt replies to our students through Email or by phone</span></li>
                <li><span>Assistance in selecting best University for a certain programs</span></li>
                <li><span>Assistance in choosing appropriate Bachelor/Master/PG programs</span></li>
                <li><span>Invitation letter from a certain/recommended University</span></li>
                <li><span>Admission Confirmation Letter from our company</span></li>
                <li><span>Assistance in Tuition fee payments to the University</span></li>
                <li><span>Assistance in purchasing Cheaper Air tickets for current and future students</span></li>
{#                <li><span>VISA support/Confirmation from the respective embassy.</span></li>#}
                <li><span>Communication with Embassies of Ukraine worldwide to support our candidates visa procedure</span></li>
{#                <li><span>Airport pick up with University and Star Education Consult Ukraine LLC’ representative holding Official permission and Identity to avoid any unpleasant circumstances for student.</span></li>#}
                <li><span>Airport pick up from all International airports in our partner countries</span></li>
                <li><span>Transport to the University with our staff</span></li>
                <li><span>Assistance in Immigration Clearance on Arrival</span></li>
                <li><span>Assistance in going though Medical checkups on Arrival</span></li>
                <li><span>Assistance in Registration with University and Immigration office</span></li>
                <li><span>Assistance in obtaining Student ID card, Hostel card, International student card</span></li>
                <li><span>Assistance in opening Bank Account</span></li>
                <li><span>Providing full support to our students at all occasions during whole period</span></li>
                <li><span>Arrangement of separate rooms for female students</span></li>
            </ul>
            <a href="http://127.0.0.1:8000/#contact"><button class="btn">APPLY NOW</button></a>
        </div>
    </div>
{% endblock %}