{% load static %}

{#<div id="carouselTestimonials" class="carousel slide" data-ride="carousel">#}
{#    <div class="carousel-inner">#}
{#        <div class="carousel-item active">#}
{#            I am a math teacher and I tell all my students and their parents about this help. It is so great how it shows you all the steps for solving a problem. It is a great way to check your homework and make sure you are doing it correctly. I encourage everyone who comes into my classroom to get and use this app.#}
{#            <p>#}
{#                Teacher, Adebayo, June 20#}
{#            </p>#}
{#        </div>#}
{#        <div class="carousel-item">#}
{#            As someone with no technical background, and fresh out of a coding bootcamp (shout-out to The Grace Hopper Program!), AlgoExpert was essential to my coding interview prep. The key to solving algorithms is to understand the how, why and patterns behind these problems. AlgoExpert made my life so much easier by providing all of this information in one place. I truly had a lot of fun working through these problems and solution videos!#}
{#            <p>#}
{#                Student, Johnson, June 5#}
{#            </p>#}
{#        </div>#}
{#        <div class="carousel-item">#}
{#            Since my son started high school his math has gotten significantly more difficult than elementary school. This overwhelmed him and he felt ashamed because he didn't "get it" right away like we always had. I tried to help but that didn't work out too well. Photomath was able to show him how to get to the correct answer and the light bubble came on. The joy he felt when he actually understood the problem he was looking at was amazing. He now doesn't feel hopeless and has a sense of accomplishment. Thank you!#}
{#            <p>#}
{#                Parent, Wellington, August 14#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{#    <a class="carousel-control-prev" href="#carouselTestimonials" role="button" data-slide="prev">#}
{#        <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#        <span class="sr-only">Previous</span>#}
{#    </a>#}
{#    <a class="carousel-control-next" href="#carouselTestimonials" role="button" data-slide="next">#}
{#        <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#        <span class="sr-only">Next</span>#}
{#    </a>#}
{#</div>#}

<div class="container" id="testimonials">
    <h2>What people say about us</h2>
    <div class="row">
        <div class="col-md-4">
            <p id="testimony">
                I made this choice when i was young. Through the help of my parents i was able to achieve this. Brisk helped me with the settlement in my city, telling me where i could get fully registered for the coming semester.
            </p>
            <p id="testifier">
                BSC, Medicine<br>Ogunyinka Tunde, June 20
            </p>
        </div>
        <div class="col-md-3">
            <p id="testimony">
                You are an application away from exploring the world. I was able to build my self esteem and compete on the world map. The process was less difficult because of the advice i got from Brisk People & Technology.
            </p>
            <p id="testifier">
                Masters, Engineering Management<br>Ogbonna Fortune, June 5
            </p>
        </div>
        <div class="col-md-4">
            <p id="testimony">
                Since my son started high school his math has gotten significantly more difficult than elementary school. This overwhelmed him and he felt ashamed because he didn't "get it" right away like we always had. I tried to help but that didn't work out too well. Photomath was able to show him how to get to the correct answer and the light bubble came on. The joy he felt when he actually understood the problem he was looking at was amazing. He now doesn't feel hopeless and has a sense of accomplishment. Thank you!
            </p>
            <p id="testifier">
                Parent<br>Wellington, August 14
            </p>
        </div>
    </div>
</div>